<header class="header-background">

    <div class="header-section">

        <div class="header-headline">
            <h1> Wir vs Virus Job Portal</h1>
            <h2>Subheadline</h2>
        </div>

        <div class="header-start">
            <button mat-raised-button>Job inserieren</button>
        </div>

    </div>
</header>

<main class="homepage-grid">

    <mat-card class="homepage-card">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/drawings/undraw_hiring_cyhs.svg" alt="Photo of a Title">
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>MEHR</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="homepage-card">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/drawings/undraw_Mail_sent_qwwx.svg" alt="Photo of a Title">
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>MEHR</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="homepage-card">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/drawings/undraw_select_option_y75i.svg" alt="Photo of a Title">
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>MEHR</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="homepage-card">
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/drawings/undraw_hiring_cyhs.svg" alt="Photo of a Title">
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>MEHR</button>
        </mat-card-actions>
    </mat-card>



</main>