<header class="header-background">

    <div class="header-section">

        <div class="header-headline">
            <h1>Miteinander füreinander</h1>
            <h2>Vermittlungsplatform zur Bewältigung von Personalengpässen</h2>
        </div>

        <div class="header-start">
            <button routerLink="/add" mat-raised-button color="accent"><mat-icon>search</mat-icon>Job finden</button>
            <button routerLink="/add" mat-raised-button color="accent"><mat-icon>add</mat-icon>Job inserieren</button>
        </div>

    </div>
</header>

<div class="wrapper">
    <h2>Miteinander füreinander</h2>
    <p>
        Die bevorstehenden Ernten (Spargel, Erdbeeren usw.) können mangels ausländischer Saisonarbeiter (Einreiseverbot)
        nicht eingebracht werden. Problem: Versorgungsengpässe und wirtschaftliche Niedergang in der Landwirtschaft als
        Folge.
    </p>
</div>

<main class="homepage-grid">

    <mat-card class="homepage-card">
        <mat-card-header>
            <mat-card-title>Für Arbeitsuchende</mat-card-title>
            <mat-card-subtitle>Kostenlos und unkompliziert Jobmöglichkeiten finden.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/drawings/undraw_hiring_cyhs.svg" alt="Photo of a Title">
        <mat-card-content>
            <p>
                Arbeitsuchende finden auf der Plattform schnell und unkompliziert Jobmöglichkeiten.
                z. B. Regalauffüllung, Erntehelfer und vieles mehr.
            </p>
        </mat-card-content>
        <mat-card-actions style="text-align: center;">
            <button routerLink="/jobs" mat-raised-button color="primary">Job finden</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="homepage-card">
        <mat-card-header>
            <mat-card-title>Für Betriebe und Unternehmen</mat-card-title>
            <mat-card-subtitle>Kostenlos und unkompliziert Jobmöglichkeiten finden.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/drawings/undraw_shared_workspace_hwky.svg" alt="Photo of a Title">
        <mat-card-content>
            <p>
                Arbeitsuchende finden auf der Plattform schnell und unkompliziert Jobmöglichkeiten.
                z. B. Regalauffüllung, Erntehelfer und vieles mehr.
            </p>
        </mat-card-content>
        <mat-card-actions style="text-align: center;">
            <button routerLink="/add" mat-raised-button color="primary">Job inserieren</button>
        </mat-card-actions>
    </mat-card>



</main>