<header class="header-background">

    <div class="header-section">

        <div class="header-headline">
            <h1> Wir vs Virus Job Portal</h1>
            <h2>Subheadline</h2>
        </div>

        <div class="header-start">
            <button mat-raised-button>Job inserieren</button>
        </div>

    </div>



</header>

<section>
    <h2>Kategorien</h2>


    <div class="category">
        <h2>Erntehelfer</h2>
    </div>

    <div class="category">
        <h2>Supermarkt</h2>
    </div>

    <div class="category">
        <h2>Gastro</h2>
    </div>

</section>