<header class="header-background">

    <div class="header-section">

        <div class="header-headline">
            <h1>Job Suche</h1>
            <h2>Finde einen Job und helfe anderen durch die Krise</h2>
        </div>

        <div class="header-start">
            <input type="text" placeholder="Ort" class="search-input" id="search-input-location">
            <button mat-raised-button color="accent" id="job-search-button" (click)="searchJobs()">
                <mat-icon>search</mat-icon>
            </button>
        </div>

    </div>
</header>

<div class="content-center">
    <div class="jobs-results">
        <mat-card *ngFor="let job of jobs">
            <div class="job-title">
                {{job.title}}
            </div>
            <div class="job-dateSubmitted">
                {{job.dateSubmitted.toDate() | date: 'dd/MM/yyyy'}}
            </div>
            <div *ngIf="job.fulltime" class="fulltime-label">
                Vollzeit
            </div>
        </mat-card>
    </div>
</div>