.header-background {
    background: #3f51b5;
    overflow: hidden;
}

.header-section {
    text-align: center;
    padding-top: 60px;
}

.header-headline {
    color: #fff;
}

.header-headline h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
}

.header-headline h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px;
}

.header-start {
    text-align: center;
    position: fixed;
    margin-top: 6px;
    z-index: 10000;
    top: 80px;
    left: 20px;
}

@media all and (max-width: 600px) {
    .header-start {
        margin-top: -1px;
    }
}

.search-input:focus {
    background: #FFFFFF;
}

.search-input {
    padding: 1rem;
    outline: 0;
    margin-right: 13px;
    background: #FFFFFF;
    border: 0;
    color: #2d2d2d;
    width: 100%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

button#job-search-button {
    height: 50px;
}

::placeholder {
    color: #656565;
    opacity: 1;
}



mat-card.mat-card {
    margin-bottom: 1rem;
    cursor: pointer;
}

.fulltime-label {
    position: absolute;
    right: 15px;
    top: 11px;
    font-size: 13px;
    background: #3f51b5;
    padding: 7px 14px;
    display: block;
    border-radius: 100px;
    color: white;
}

.job-title {
    font-size: 25px;
    padding-bottom: 12px;
}