<!--
<header class="header-background">

    <div class="header-section">

      
        <div class="header-headline">
            <h1>Job Suche</h1>
            <h2>Finde einen Job und helfe anderen durch die Krise</h2>
        </div>


    </div>
</header>

 -->

<div class="content-center">

    <div class="header-start">
        <input type="text" placeholder="Stadt eingeben und suchen.." class="search-input" id="search-input-location" ngx-google-places-autocomplete (onAddressChange)="searchJobs($event)" [options]=placesOptions/>
    </div>

    <google-map
        height="95vh"
        width="100%"
        [zoom]="zoom"
        [options]="options"
        [center]="center"
    >
        <map-marker
        #markerElem
        *ngFor="let marker of jobs"
        [position]="marker.position"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfoWindow(markerElem, marker)"
        ></map-marker>
        <map-info-window>
            <button color="primary" mat-raised-button routerLink="/jobs/{{ job?.uid }}">{{ job?.title }}</button>
        </map-info-window>
    </google-map>
</div>
