<header class="header-background">

    <div class="header-section">

        <div class="header-headline">
            <h1>{{job?.title}}</h1>
            <h3>{{ job?.company }} | {{ job?.email }}</h3>
            <p> {{job?.dateSubmitted.toDate() | date: 'dd.MM.yyyy' }}</p>
        </div>

        <div class="header-start">
            <button mat-raised-button (click)="sendMail(job?.email)">Jetzt bewerben</button>
        </div>

    </div>
</header>

<div class="content-center">

    <mat-card>
        <div class="card-title">
            Beschreibung
        </div>
        <div class="card-content"  [innerHTML]="job?.fullDescription">
        </div>
    </mat-card>

</div>