<header class="header-background">

  <div class="header-section">

    <div class="header-headline">
      <h1>Jobs inserieren</h1>
      <h2>Erstelle Job Inserate und finde passende Arbeitskräfte</h2>
    </div>

  </div>
</header>

<div class="content-center">

  <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="form-field-full-width">
      <mat-label>Job Title</mat-label>
      <input matInput placeholder="placeholder" formControlName="title">
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <mat-label> Adresse (Straße + Hausnr.)</mat-label>
      <input matInput placeholder="placeholder" formControlName="address">
    </mat-form-field>



    <mat-form-field class="form-field-full-width">
      <mat-label> Stadt</mat-label>
      <input matInput placeholder="placeholder" formControlName="city">
    </mat-form-field>


    <mat-form-field class="form-field-full-width">
      <mat-label> E-Mail Adresse </mat-label>
      <input matInput placeholder="placeholder" formControlName="email">
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <mat-label> Beschreibungstext </mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..." formControlName="fullDescription"></textarea>
    </mat-form-field>


    <button mat-raised-button type="submit" [disabled]="jobForm.invalid">Add</button>

  </form>


</div>