<header class="header-background">

  <div class="header-section">

    <div class="header-headline">
      <h1>Jobs inserieren</h1>
      <h2>Erstelle Job Inserate und finde passende Arbeitskräfte</h2>
    </div>

  </div>
</header>



<div class="content-center">

  <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">

<div class="center">
    <lit-place-input id="wc-city" apiKey="AIzaSyDOKSVsF1lEULUoYU3Wzfo-xiuqD_3cdAA" searchCountryCode="DE" label="Stadt" outlined required style="--mdc-theme-primary:rgba(63, 80, 181,1);">
    </lit-place-input>
  </div>

    <mat-form-field class="form-field-full-width">
      <mat-label>Job Titel</mat-label>
      <input matInput placeholder="Job Titel" formControlName="title">
    </mat-form-field>



    <mat-form-field class="form-field-full-width">
      <mat-label>Unternehmen </mat-label>
      <input matInput placeholder="Unternehmen" formControlName="company">
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <mat-label> Adresse (Straße + Hausnr.)</mat-label>
      <input matInput placeholder="Adresse (Straße + Hausnr.)" formControlName="address">
    </mat-form-field>

    <mat-form-field class="form-field-full-width">
      <mat-label> E-Mail Adresse </mat-label>
      <input matInput placeholder="E-Mail Adresse" formControlName="email">
    </mat-form-field>

 <!--  
   <mat-form-field class="form-field-full-width">
      <mat-label> Beschreibungstext </mat-label>
      <textarea rows="7" matInput placeholder="Ex. It makes me feel..." formControlName="fullDescription"></textarea>
    </mat-form-field> -->
    <br>
    <ckeditor formControlName="fullDescription" [editor]="Editor" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'alignment', 'bulletedList', 'numberedList'  ]}"></ckeditor>
    <br>
    <button mat-raised-button type="submit" [disabled]="jobForm.invalid">Jetzt inserieren</button>
  

  </form>


</div>