button.active {
    background: #6c80f1;
}

mat-icon.mat-icon {
    line-height: 23px;
    font-size: 24px;
    margin-right: 10px;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}


@media all and (max-width: 600px) {

    .nav-button  { 
        font-size: 0; 
        width: 100%;
    }

	
}
