<ul>
    <li><a routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" routerLink="/">Startseite</a></li>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/jobs">Jobs finden</a></li>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/add">Job inserieren</a></li>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/info">Informationen</a></li>
  </ul>

<router-outlet></router-outlet>
