<header class="header-background">
    <img src="../../assets/hackathon_logo.png" alt="blubb" class=center>
</header>


<h1 class="section-headline">Warum</h1>
<section class="info-grid">

    <mat-card class="info-card">
        <mat-card-content>
            <p>
                Dieser Prototyp ist entstanden durch die Initative des #WirVsVirus-Hackathons vom 20.03.2020 bis
                22.03.2020. https://wirvsvirushackathon.org
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="info-card">
        <mat-card-content>
            <p>
                Als initiale Problemstellung war gegeben, dass Erntehelfer durch das Einreiseverbot nicht verfügbar sind
                und somit personelle Engpässe bei Landwirten entstehen können.
                Wir haben den Prototyp so konzipiert, dass die Kategorie nicht nur für Erntehelfer exklusiv aufgesetzt
                wird, sondern für allgemein benutzt werden kann.
                Weiterführend können all diejenigen, die durch die Corona-Krise ihre Erwerbstätigkeit pausieren müssen,
                kurzfristige oder langfristige Alternativen zu finden.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="info-card">
        <mat-card-content>
            <p>
                Weitere Informationen findet man unter dem folgenden Link:
                https://devpost.com/software/039_staatliche_kommunikation_jobportal
            </p>
        </mat-card-content>
    </mat-card>
</section>



<h1 class="section-headline">Das Team</h1>
<section class="info-team-grid">

    <mat-card class="info-card">
        <mat-card-header>
            <div mat-card-avatar class="team-header-image-alex"></div>
            <mat-card-title>Alexander Stifel</mat-card-title>
            <mat-card-subtitle>Consultant</mat-card-subtitle>
        </mat-card-header>

    </mat-card>
    <mat-card class="info-card">
        <mat-card-header>
            <div mat-card-avatar class="team-header-image"></div>
            <mat-card-title>Dominik Klingert</mat-card-title>
            <mat-card-subtitle>Consultant</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="info-card">
        <mat-card-header>
            <div mat-card-avatar class="team-header-image"></div>
            <mat-card-title>Maurice Kopp</mat-card-title>
            <mat-card-subtitle>----</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-card class="info-card">
        <mat-card-header>
            <div mat-card-avatar class="team-header-image"></div>
            <mat-card-title>Philipp Kief</mat-card-title>
            <mat-card-subtitle>Consultant</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</section>