<header class="header-background">
    <img src="../../assets/hackathon_logo.png"alt="blubb" class=center>
</header>

<main class="homepage-grid">
    <mat-card class="homepage-card">
           <mat-card-content>
            <p>
				Dieser Prototyp ist entstanden durch die Initative des #WirVsVirus-Hackathons vom 20.03.2020 bis 22.03.2020. https://wirvsvirushackathon.org
            </p>
        </mat-card-content>
    </mat-card>
	
	    <mat-card class="homepage-card">
           <mat-card-content>
            <p>
				Als initiale Problemstellung war gegeben, dass Erntehelfer durch das Einreiseverbot nicht verfügbar sind und somit personelle Engpässe bei Landwirten entstehen können.
				Wir haben den Prototyp so konzipiert, dass die Kategorie nicht nur für Erntehelfer exklusiv aufgesetzt wird, sondern für allgemein benutzt werden kann.
				Weiterführend können all diejenigen, die durch die Corona-Krise ihre Erwerbstätigkeit pausieren müssen, kurzfristige oder langfristige Alternativen zu finden.
            </p>
        </mat-card-content>
    </mat-card>
	
	    <mat-card class="homepage-card">
           <mat-card-content>
            <p>
				Weitere Informationen findet man unter dem folgenden Link:
				https://devpost.com/software/039_staatliche_kommunikation_jobportal
            </p>
        </mat-card-content>
    </mat-card>
</main>