<header class="header-background">
    <img src="../../assets/hackathon_logo.png" alt="blubb" class=center>
</header>


<div class="wrapper">

<h1>Warum</h1>
<p>
    Dieser Prototyp ist entstanden durch die Initative des #WirVsVirus-Hackathons vom 20.03.2020 bis
    22.03.2020. <a href="https://wirvsvirushackathon.org">#WirVsVirus-Hackathons</a>
</p>

<p>
    Die initiale Problemstellung der Bundesregierung lautet, dass Erntehelfer durch das Einreiseverbot für die kommende Ernte nicht verfügbar seien
    und somit personelle Engpässe bei Landwirten entstehen könnten.
</p>
<p>
    Der Prototyp wurde so konzipiert, dass die Kategorie nicht nur für Erntehelfer, sondern auch für die Allgemeinheit genutzt werden kann.
</p>

<p>
    Weitere Informationen findet man unter dem folgenden Link:
    <a href="https://devpost.com/software/039_staatliche_kommunikation_jobportal">Devpost</a>
    --
    <a href="https://github.com/VoteAlex/wirvsvirus">Github</a>

</p>

</div>



<h1 style="padding-left: 1rem;">Das Team</h1>
<section class="info-team-grid">

    <mat-card class="info-card">
        <mat-card-header>
            <div mat-card-avatar class="team-header-image-alex"></div>
            <mat-card-title>Alexander Stifel</mat-card-title>
            <mat-card-subtitle>Consultant | Software Engineer</mat-card-subtitle>
        </mat-card-header>

    </mat-card>
    <mat-card class="info-card">
        <mat-card-header>
            <div mat-card-avatar class="team-header-image-dominik"></div>
            <mat-card-title>Dominik Klingert</mat-card-title>
            <mat-card-subtitle>Consultant | Software Engineer</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="info-card">
        <mat-card-header>
            <div mat-card-avatar class="team-header-image-maurice"></div>
            <mat-card-title>Maurice Kopp</mat-card-title>
            <mat-card-subtitle>Software Engineer</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-card class="info-card">
        <mat-card-header>
            <div mat-card-avatar class="team-header-image-philipp"></div>
            <mat-card-title>Philipp Kief</mat-card-title>
            <mat-card-subtitle>Consultant | Software Engineer</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-card class="info-card">
        <mat-card-header>
            <div mat-card-avatar class="team-header-image-johannes"></div>
            <mat-card-title>Johannes Bitsch</mat-card-title>
            <mat-card-subtitle>Consultant | Software Engineer</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</section>